hr {
    background-color: white;
}

body {
    background: url("/static/img/background-img.jpg");
    background-size: cover;
    color: black;
}

.responsive {
    height: auto%;
    max-width: 35%;
}

.container {
    width: 600px;
}


.wrapper {
    margin: 5vh;
    background-color: rgba(225, 31, 104, 0.64);
    border: 1px solid white;
    padding: 2vh;
    min-height: 80vh;
    border-radius: 5vh;
}

img {
  border-radius: 8px;
  width: 400px;
}

.nav {
    background-color: white;
}

.nav-link:hover {
    color: #33103a;
}

.nav-link {
    color: #e11f68;
}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container .row button {
    line-height: 3em;
}

.li {
    color: black;
}

.btn-group-vertical
{
   display: flex;
   align-items: center;
   position: relative;
   top: 40vh;
}

.main-center-card {
    background-color: rgba(225, 31, 104, 0.64);
    margin: 10vh;
    padding: 5vh;
    color: black;
    width: 80%;
    position: relative;
    left: 10vh;
}

label {
  width: 80%;
}

button {
    font-family: sans-serif;
    border-radius: 5vh;
    background-color: #e11f68;
    border-color: black;
    border-style: solid;
    color: black;

}

.main-page-btn {
    border-style: none;
    margin: 3vh;
    width: 25%;
    color: white;
    font: larger;
    min-width: 200px;
    min-height: 50px;
}

.main-page-btn:hover {
    border-style: none;
    margin: 3vh;
    width: 25%;
    color: #e11f68;
    font: larger;
    background-color: #33103a;

}

.container.center{
    position: center;
}

.gallery{
    float: left;
    width: 180px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.logo {
    scale: 150%;
    position: fixed;
    left: 10vw;
}

.btn {
    font-family: sans-serif;
    border-radius: 5vh;
    background-color: rgba(225, 31, 104, 0.64);
    border-color: black;
    border-style: solid;
    color: black;
}

.btn-light {
    border: solid 1px #d7d7d7;
}

.form-holder {
    display: flex;
    justify-content: center;
    width: auto;
    color: black;
}

.form-holder .form-cell {
    border: solid 1px #d7d7d7;
    border-radius: 20px;
    float: left;
    background-color: rgba(225, 31, 104, 0.8);
    padding: 3em;
    margin: 0 1em;
    color: black;
}

.form-holder .form-cell input[type=text], .form-holder .form-cell input[type=password] {
    width: 20em;
}

@media screen and (max-width: 900px) {
    .form-holder {
        display: block;
    }
    .form-holder .form-cell {
        display: block;
        float: none;
        width: 80%;
        margin: auto;
        font-size: 3vw;
        text-align: center;
    }
}

.grip-container {
    display: grid;
    grid-gap: 100px;
}

textarea {
    min-width: 80%;
}
