.ghost {
    opacity: 0.2;
}

.list-group {
    margin: 20px;
}

#timeline {
    min-height: 100px;
}

.handle {
    max-width: 20px;
    border-radius: 0;
    opacity: .7;
}

.handle:hover {
    cursor: grab;
}

.widget-drop-control {
    display: inline;
}

.widget-handle-title {
    display: inline;
}
