.ghost {
    opacity: 0.2;
}

.list-group {
}

#timeline {
    min-height: 100px;
}

.handle {
    max-width: 20px;
    border-radius: 0;
    opacity: .7;
}

.handle:hover {
    cursor: grab;
}

.widget-drop-control {
    display: inline;
}

.widget-handle-title {
    display: inline;
}

.col {
    min-width: 25vh;
    padding: 10px;
}

.long-input {
    width: 100%;
}

@media screen and (max-width: 520px) {
    .list-group-item {
        width: 95%;
    }
}