.logo {
    width: 45%;
    left: 10vw;
}

@media screen and (max-width: 800px) {
    .logo {
        width: 100%;
    }
}

.main-page-group
{
   align-items: center;
   position: relative;
   margin-top: 10vh;
}


@media screen and (min-width: 800px) {
    .main-page-group {
        margin-top: 20vh;
    }
}