{% extends "base.html" %}

{% block title %}About Pandora's Engine{% endblock %}

{% block active_link %}about-link{% endblock %}

{% block body %}
<div class="center-block">
    <div class="card main-center-card">
        <h1>Welcome to Pandora's Engine: The Uboxed Game Engine</h1>

        <hr />

        <h3>Who we Are</h3>
        <p>We're a team of four (questionably) talented students from R.I.T who want to kick the year off right with a fantastic hackathon project.</p>

        <hr />

        <h3>About the Engine</h3>
        <p>Inspired by Jackbox games, we have created our own game engine that allows users to create their own "Jackbox style" games. Players have the option to use fill in their own or user-generated questions alongside a variety of modifiers like randomizing answer choices, adjusting how much time is allotted, and differentiating between opinion or fact-based questions. Choose your max room size from 1 to 50 people; wrack your brain to think of a funny name and get creating!</p>
    </div>
</div>
{% endblock %}