{% extends "base.html" %}

{% block active_link %}create-link{% endblock %}

{% block body %}
    <center class="form-holder">
    <div class="form-cell">
        <h3 class="text-center">Create A Room</h3>
        <form action="/addRoom" method="POST">
            <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text" for="gameSelect">Game</label>
                  </div>
                  <select class="custom-select" id="gameSelect">
                    <option selected>Choose...</option>
                    {% for game in games %}
                        <option value={{game._id}}>{{game.name}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <input type="submit" class="btn btn-light" name="create" value="Create Room">
        </form>
    </div>
    </center>

{% endblock %}