{% extends "base.html" %}

{% block active_link %}edit-link{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editor.css' ) }}">
{% endblock %}


{% block body %}
<div class="center-block">
  <div class="main-center-card card">
    <div id="demo" class="row">
      <div class="col">
	<h3>Available Widgets</h3>
	<div id="widgets" class="list-group">
          <div id="widget-text" data-id="widget-text" class="list-group-item nested-1">
	    <p class="widget-handle-title">
	      <img class="handle" src="/static/img/drag-handle.png" />
	      Text Widget
	    </p>
	  </div>
          <div id="widget-choice" data-id="widget-choice" class="list-group-item nested-1">
	    <p class="widget-handle-title">
	      <img class="handle" src="/static/img/drag-handle.png" />
	      Choice Widget -- Pre-set
	    </p>
	  </div>
          <div id="widget-choice-rand" data-id="widget-choice-rand" class="list-group-item nested-1">
	    <p class="widget-handle-title">
	      <img class="handle" src="/static/img/drag-handle.png" />
	      Randomized Choice Widget -- Pre-set
	    </p>
	  </div>
	  <!--
          <div id="widget-text_input" data-id="widget-text_input" class="list-group-item nested-1">
	    <p class="widget-handle-title">
	      <img class="handle" src="/static/img/drag-handle.png" />
	      Text Input Widget
	    </p>
	  </div>
          <div id="widget-image" data-id="widget-image" class="list-group-item nested-1">
	    <p class="widget-handle-title">
	      <img class="handle" src="/static/img/drag-handle.png" />
	      Image Widget
	    </p>
	  </div>
	  -->
	</div>
      </div>
      
      <div class="col">
	<h3>Game Timeline</h3>
	<div id="timeline" class="list-group">
	</div>
      </div>
    </div>

	<label for="game-name">Game Name:
		<input type="text" id="game-name" />
	</label>
	<label for="game-num-players">Max Players:
		<input type="number" min=1 max=50 value=4 id="game-num-players" />
	</label>

	<button id="submit-game">Submit Game</button>

  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script src="/static/js/editor.js"></script>
{% endblock %}
