{% extends "base.html" %}

{% block active_link %}home-link{% endblock %}

{% block title %}Pandora's Engine -- The unboxed game engine{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css' ) }}">
{% endblock %}

{% block body %}
    <img src="static/img/project-logo.png" class="logo">
    <div class="center-block">
        <div class="main-page-group">
            <button class="main-page-btn btn" onclick="location.href = '/join';">Join Room</button>
            <button class="main-page-btn btn" onclick="location.href = '/createRoom';">Create Room</button>
        </div>
    </div>

{% endblock %}
