{% extends "base.html" %}

{% block active_link %}question-link{% endblock %}

{% block body %}
    <div class="form-holder">
        <div class="form-cell">
            <form action="/submitQuestion" method="POST">
                <h3 class="text-center">Submit A Question!</h3>
                <div class="form-group">
                        <label for="question">Question:</label><br>
                        <input required type="text" name="question" id="question">
                </div>
                <div class="form-group">
                        <label for="correct">Correct Answer:</label><br>
                        <input required type="text" name="correct" id="correct">
                </div>
                <div class="form-group" id="other_answers">
                        <label for="answers">Other Answers:</label><br>
                        <input required type="text" name="answers" id="answers">
                </div>
                <div class="form-group">
                        <label for="tags">Tags (Comma Delimited):</label><br>
                        <input required type="text" name="tags" id="tags">
                </div>

                <input type="submit" class="btn" name="submit" value="Submit">
            </form>
        </div>
    </div>
    <center class="container">
        <p> Crowdsourcing our questions from users like you allows for us to have such a seamless game creation experience at all skill levels. </p>
    </center>
{% endblock %}

{% block js %}
{% endblock %}
