{% extends "base.html" %}

{% block title %}Pandora's Engine -- Game Room{% endblock %}

{% block active_link %}room-link{% endblock %}

{% block body %}
    <center>
        <div id="pre-game">
            <label> Players currently in the room </label>
            <ul id="player-list" class="list-group">
                {% for player in room_data['players'] %}
                    <li class="list-group-item">{{ player['username'] }}</li>
                {% endfor %}
            </ul>
        </div>
    </center>
    <div class="center-block">
        <div id="widget-container" style="text-align:center; display:none">
        
        </div>
    </div>
    {% if is_host %}
    <button class="main-page-btn btn" onclick="nextScene();">Next</button>
    {% endif %}
{% endblock %}

{% block js %}
<script src="/static/js/render_widgets.js"></script>
<script>
    // updates playerlist whenever a player is added
    // we do not care for players being removed yet
    let playerList = $("#player-list")
    let players = []
    let isHost = {{ is_host|string|lower }};
    var prsIntervalId = -1
    
    function refreshPlayerList(initialCall) {
        $.ajax(window.location.href + "/state", {
            'dataType': 'json',
        })
            .done((obj) => {
                if (obj.widget_index != -1) {
                    clearInterval(plIntervalId);
                    prsIntervalId = setInterval(pollRoomState, 1000);
                    switch_to_widget_view();
                    displayRoomState(obj);
                    return;
                }
                newPlayers = obj.players
                if (initialCall) playerList.empty();
                for (var i = players.length; i < newPlayers.length; i++) {
                    playerList.append(
                        $('<li class="list-group-item">')
                            .append(newPlayers[i])
                    );
                }
                players = newPlayers;
            })
        
    }
    refreshPlayerList(true);
    var plIntervalId = setInterval(refreshPlayerList, 1000);
    
    {% if is_host %}
    function nextScene() {
        $.ajax(window.location.href + "/next")
            // .success(switch_to_game_view)
            .fail(nextScene);
    }
    {% endif %}
    
    var currentIndex = -2;
    
    function pollRoomState() {
        $.ajax(window.location.href + "/state", {
            'dataType': 'json',
        }).done(displayRoomState);
    }
    
    function switch_to_widget_view() {
        $("#pre-game").css("display", "none");
        $("#widget-container").css("display", "block");
    }
    
    
    function displayRoomState(room_state) {
        if (room_state.widget_index != currentIndex) {
            currentIndex = room_state.widget_index;
            displayWidget(room_state.widget, isHost);
        }
    }
    
    
    function submitAnswer(value) {
        $("#widget-container").empty().append(
            $("<h2>")
                .attr("class", "main-center-card card")
                .css("background-color", "#80808080")
                .append("Submitted...")
        );
        $.ajax(window.location.href + "/submit/" + currentIndex, {
            'method': 'POST',
            'dataType': 'json',
            'data':{
                'answer': value,
            },
        }).done(() => {
            console.log("SUCCESS");
            $("#widget-container").empty().append(
                $("<h2>")
                    .attr("class", "main-center-card card")
                    .css("background-color", "#00ff0080")
                    .append("Correct!")
            )
        }).fail((x) => {
            console.log(x)
            $("#widget-container").empty().append(
                $("<h2>")
                    .attr("class", "main-center-card card")
                    .css("background-color", "#ff000080")
                    .append("Incorrect!")
            )
        });
    }

</script>
{% endblock %}