{% extends "base.html" %}

{% block title %}Pandora's Engine -- Game Room{% endblock %}

{% block active_link %}room-link{% endblock %}

{% block body %}
    <center>
        <div>
            <label> Players currently in the room </label>
            <ul id="player-list" class="list-group">
                {% for player in room_data['players'] %}
                    <li class="list-group-item">{{ player['username'] }}</li>
                {% endfor %}
            </ul>
            {% if is_host %}
            <button onclick="startGame();">Start Game</button>
            {% endif %}
        </div>
    </center>

{% endblock %}

{% block js %}
<script>
    // updates playerlist whenever a player is added
    // we do not care for players being removed yet
    let playerList = $("#player-list")
    let players = []
    var prsIntervalId = -1
    
    function refreshPlayerList(initialCall) {
        $.ajax(window.location.href + "/state", {
            'dataType': 'json',
        })
            .done((obj) => {
                if (obj.widget_index != -1) {
                    clearInterval(plIntervalId);
                    prsIntervalId = setInterval(pollRoomState, 1000);
                    switch_to_widget_view();
                    displayRoomState(obj);
                    return;
                }
                newPlayers = obj.players
                if (initialCall) playerList.empty();
                for (var i = players.length; i < newPlayers.length; i++) {
                    playerList.append(
                        $('<li class="list-group-item">')
                            .append(newPlayers[i])
                    );
                }
                players = newPlayers;
            })
        
    }
    refreshPlayerList(true);
    var plIntervalId = setInterval(refreshPlayerList, 1000);
    
    {% if is_host %}
    function startGame() {
        $.ajax(window.location.href + "/begin")
            // .success(switch_to_game_view)
            .fail(startGame);
    }
    {% endif %}
    
    function pollRoomState() {
        $.ajax(window.location.href + "/state", {
            'dataType': 'json',
        }).done(displayRoomState);
    }
    
    function switch_to_widget_view() {
        console.log("widget view!");
    }
    
    function displayRoomState(room_state) {
        console.log("gonna display:");
        console.log(room_state);
    }

</script>
{% endblock %}